<!DOCTYPE hml>
<html ng-app="user">
<head>
	<%= stylesheet_link_tag "bootstrap.min" %>
	<%= stylesheet_link_tag "app" %>
	<%= javascript_include_tag "application" %>
	<%= javascript_include_tag "app" %>
</head>

<body layout="column">
    <div ng-view class="col-md-6 col-md-offset-3"></div>
</body>
</html>