<h3>User Details</h3>
<div>
    <dl class="dl-horizontal">
        <dt>Name: </dt>
        <dd>{{ user.name }}</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>E-mail: </dt>
        <dd>{{ user.email }}</dd>
    </dl>
    <dl class="dl-horizontal" ng-show=user.birth_day>
        <dt>Birth date: </dt>
        <dd>{{ user.birth_day }}</dd>
    </dl>
    <dl class="dl-horizontal" ng-show=user.gender>
        <dt>Gender: </dt>
        <dd>{{ user.gender }}</dd>
    </dl>
</div>

<h3>Update user</h3>

<div>
    <form name="userForm " ng-controller="UserUpdateController" ng-submit="userForm.$valid && updateUser(user)" novalidates>
        <fieldset class="form-group col-md-6">
            <label>Name: </label>
            <input type="name" class="form-control" title="Name" ng-model="user.name" required>
        </fieldset>
        <fieldset class="form-group col-md-6">
            <label>E-mail: </label>
            <input type="email" class="form-control" title="E-mail" ng-model="user.email" required>
        </fieldset>
        <fieldset class="form-group col-md-6">
            <label>Birth date: </label>
            <input type="birth" class="form-control" title="Birth" ng-model="user.birth_day">
        </fieldset>
        <fieldset class="form-group col-md-6">
            <label>Gender: </label>
            <select class="form-control" title="gender" ng-model="user.gender">
                <option value="Male"> Male </option>
                <option value="Female"> Female </option>
            </select>
        </fieldset>
        <button class="btn btn-primary btn-lg" type="submit">Update</button>
    </form> 
</div>

<a href="#/" class="btn btn-default">Voltar</a>